*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1 {
  text-align: center;
}

.addNewBtn {
  height: 50px;
  width: 200px;
  background-color: green;
  color: white;
  border-radius: 10px;
}

table {
  margin-top: 20px;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid;
}

table th,
table td {
  padding: 20px;
  border: 1px solid;
  text-align: center;
}

form {
  padding: 20px;
}

form > * {
  display: block;
}

form span {
  display: block;
}

form .error {
  color: red;
  position: absolute;
}

form > label {
  margin-top: 30px;
  margin-bottom: 2px;
}

form > button {
  margin-top: 20px;
  margin-right: 10px;
  display: inline-block;
}

dialog {
  height: 450px;
  width: 400px;
}

.controlBtns {
  margin-top: 30px;
}

.deleteBtn,
.read-status-button {
  width: 100px;
  height: 30px;
}

.deleteBtn {
  background-color: rgb(245, 18, 18);
  color: white;
  border-color: rgb(245, 18, 18);
}

.book-read::before {
  content: "Read";
}

.book-read {
  background-color: black;
  color: white;
}

.book-unread::before {
  content: "Unread";
}

.book-unread {
  background-color: white;
  color: black;
}