*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1 {
  text-align: center;
}

table {
  margin-top: 20px;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid;
}

table th,
table td {
  padding: 20px;
  border: 1px solid;
  text-align: center;
}

form {
  padding: 20px;
}

form > * {
  display: block;
}

form > label {
  margin-top: 20px;
  margin-bottom: 2px;
}

form > button {
  margin-top: 20px;
}

dialog {
  height: 370px;
  width: 400px;
}

.read-status-button {
  width: 100px;
  height: 30px;
}

.book-read::before {
  content: "Read";
}

.book-read {
  background-color: black;
  color: white;
}

.book-unread::before {
  content: "Unread";
}

.book-unread {
  background-color: white;
  color: black;
}